img {
    height: auto;
    width: 100vw;
}
.navbar {
    position: absolute;
    top:0;
    justify-content: space-between;
    width: 100vw;
}
.navbar div{
    margin-left: 2rem;
}
.Instructions {
    position: absolute;
    top: 4rem;
    font-size: 18px;
    color:lightgreen;
}

.clicked {
    background-color:blue;

  }
.spl {
    animation-name: anm1;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
  }
  
@keyframes anm1{
    50% {transform : scaleY(0)}
    100% {transform : scaleY(1)}
    
  }

.container-1 {
    position: absolute;
    top : 8rem;
}
.controls {
    position: absolute;
    top: 26rem;
}